*
{
    padding: 0;
    margin: 0;
}



html,body
{
    font-family: 'oswald', sans-serif, serif;
	font-size: 100%;
	background-image: url(../img/2503698.png)
}

.contenedor{
	width: 88%;
	margin: 0 auto;
	
}

header{

	margin: 0 auto;
    background-color: white;
    padding: 30px;
}

hgroup h1 {
    text-align: center;
	font-family: inherit;
	color: #333333;
	font-weight: inherit;
	padding: 10px;
}

hgroup h3{
	text-align: center;
    font-family: "Libre Baskerville",serif;
    color: #333333;
    font-weight: inherit;
    font-size: 1.2em;
    

}

nav
{
    float: left;
    width: 100%;
	background-color: #fbaa86;
	font-family: "Libre Baskerville",serif;;
   
}
ul
{
    list-style: none; /*quitamos las viñetas*/
    margin: 0; /*formateamos los margenes*/
 
}
li
{
    padding: 20px 30px; 
    background-color: #fbaa86;
}
 
li > a
{
    text-decoration: none;   /*quitamos el subrayado*/
    color:#444; /*Color fuente*/
     /* font-weight: 700; Ancho fuente */
    font-size: 1.2em; /* Tamaño relativo fuente*/
}
 
/* Nivel 1*/
nav > ul
{
    
    position: relative;
    
}
/* Items del nivel 1*/
nav > ul > li
{
    display: inline-block;
    position: relative;
}
 
/*Hovers*/

/*nav ul li:hover
{
       
}*/

nav ul li:hover > a
{
	
	color: gray;
}

.subnivel li a:hover{
	color: #c3440d;
	
}



.subnivel li{
	background-color: rgb(253, 253, 253);
    padding: 12px 12px 10px 19px;
    margin: 0px 32px 0px 0px;
}

.subnivel li:hover {
    background-color: #efecec;
}


 
/*Sub nivel 1*/
nav ul li > ul 
{
    position: absolute;
    left: 0;
    top:101%; /* lo posicionamos justo debajo de cada items*/
    display: none; /*Ocultamos el sub nivel*/
}
 
/*Sub-items sub-nivel 1*/
nav ul li > ul li
{
    display: block;
    width: 100%;
    position: relative;
}
/*hover*/
nav ul li:hover > ul 
{
    display: block; /*Cuando se haga hover sobre algun item mostramos el sub-nivel 1*/
}
 
/* Sub nivel 2*/
nav ul li ul li > ul 
{
    position: absolute;
    left:100%; /*posicionamos el sub nivel 2 a la derecha del sub nivel 1*/
    top:0;
    display: block;
    width: 100%;
    display: none;
    
}
 
/*Sub-items sub-nivel 2*/
nav ul li ul li > ul li
{
    width: auto; /*Para que se ajuste al padre*/
    border-left: none; /*Eliminamos bordes heredados*/
    border-right: none;
}
 
nav ul li ul li:hover > ul
{
    display: block;   /*Mostramos cuando se haga hover sobre un sub-items*/
}

/*figure clase imagen1*/

.imagen1 img{
    width: 100%;
}

.articuloprincipal{
    background: #fff;
    box-shadow: rgba(0,0,0, 0.1) 0 1px 2px;
    margin: 10px 325px;
    opacity: 0.95;
    padding: 33px 9px 88px 9px;
    width: 425px;
    position: absolute;
    top: 205px;
}

article.articulo1 {
    padding: 0px 15px;
}

.articulo1 h1{
    text-align: center;
    font-family: inherit;
    font-size: 28px;
	color: #333333;
	font-weight: inherit;
    padding: 15px;
    
}

.articulo1 p{
    font-family: "Libre Baskerville",serif;;
    font-size: 20px;
    color: #636161;
}

/*segundo contenedor de los 3 articulos*/

.contenedor2{
    background-color: white;
    display: flex;
}

.guion::before, 
.guion::after{
    content: " - ";
}

.aside1 img, 
.aside2 img, 
.aside3 img{
    width: 50%;
    
}

.aside1, .aside2, .aside3{
    width: 122%;
    text-align: center;
    padding: 40px;
    margin: 33px 0px 147px 0px;
}

